.About .container{
    max-width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.About .container h1{
    padding-bottom: 1rem;
    font-family: var(--ROBOTO);
}

.About .container h2{
    padding: 1rem 0;
    font-family: var(--ROBOTO);
}

.About .container p{
    padding: 0.5rem;
    border-radius: 4px;
    font-family:sans-serif, cursive ;
    background-color: var(--POPUP-BGCOLOR);
}

.About .container .last{
   padding-bottom: 3rem;
}