/* NO POST */

.BicyclePage .no-post{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/* NO POST */

.post{
    border-bottom: 2px solid green;
}

.post .post-con{
    display: flex;
    flex-flow: row nowrap;
}


.post .img-container{
    min-height: 100px;
    min-width: 130px;
}