/* NO POST */

.BicyclePage .no-post{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--RED);
}

/* NO POST */


.post{
    border-top: 2px solid var(--BGCOLOR);
    margin: 5px 0;
    font-family: var(--ROBOTO);
}

.post .button-container{
    display: flex;
    justify-content: center;
}

.post .post-con{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}


.post .img-container{
    min-height: 150px;
    min-width: 39%;
    border: 1px solid;
    margin-top: 0.3rem;
}

.info-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.info-container .price{
    color: var(--RED);
    font-size: 1.3rem;
}

.post button{
    display: block;
    width: 98%;
    min-height: 39px;
    background-color: var(--BUTTON-COLOR);
    color: var(--WHITESMOKE);
    outline: none;
    cursor: pointer;
    margin-top: 0.3rem;
    font-size: large;
    border-radius: 4px;

    font-weight: 700;
}



.post .login_icon{
    padding-right: 0.6rem;
}