.Contact .contact-us{
    max-width: 90%;
    margin: 1rem auto;
    font-family: var(--ROBOTO);
}

.Contact .contact-us h1{
    border-bottom: 2px solid;
    width: 98%;
    padding-bottom: 0.3rem;
    font-family: var(--PHUDU);
}

.Contact label,
.Contact input{
    display: block;
}

.Contact input{
    width: 98%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 1rem;
}

.Contact label{
    padding-top: 2rem;
}

.Contact textarea{
    width: 98%;
    min-height: 200px;
    padding: 1rem;
}

.Contact .contact-us .Message{
    padding-bottom: 0.9rem;
}

.Contact button{
    margin-top: 0.5rem;
    height: 40px;
    width: 98%;
    background-color: var(--BUTTON-COLOR);
    color: var(--COLOR);
    border: none;
    outline: none;
    font-size: 1.3rem;
    box-shadow: 1px 4px 7px var(--BGCOLOR);
    text-align: center;
    margin-bottom: 4rem;
    cursor: pointer;
}

.Contact .icon{
    padding-right: 0.5rem;
}
