@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Phudu:wght@900&family=Roboto:wght@700&display=swap');

:root{
  --BGCOLOR: black;
  --COLOR: white;
  --SEARCHBTN-COLOR: gray;
  --RED: red;
  --GREEN: rgb(9, 51, 27);
  --WHITESMOKE: rgb(252, 250, 250);
  --FUGAZ: 'Fugaz One', cursive;
  --PHUDU: 'Phudu', cursive;
  --ROBOTO: 'Roboto', sans-serif;
  --BGHOMEPAGE: rgb(249, 253, 255);
  --BGCOLOR2: whitesmoke;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 55px;
    background-color: var(--COLOR);
    color: var(--SEARCHBTN-COLOR);
    border-top: 1px solid var(--BGCOLOR);
    z-index: 1;
    color:peachpuff;

    display: flex;
}

.footer .link{
    width: 20%;
    border-right: 1px solid var(--BGCOLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .link:active,
.footer .link:focus-within{
    border-top: 4px solid var(--GREEN);
}

.footer .font{
    color: var(--GREEN);
    min-height: 20px;
}


/* POPUP MENU */

.footer .menu-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--BGCOLOR2);
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    border-top: 1px solid var(--GREEN);
  
    position: absolute;
    bottom: 106%;
    width: 100%;
    height: 200px;
    z-index: 1;
}

.footer .popupBtn{
    border: none;
}


.footer .menu-popup .icon{
    background-color: var(--GREEN);
    min-width: 90%;
    min-height: 40px;
    color: var(--COLOR);
    border-radius: 2px;
    font-size: 1.3rem;
    box-shadow: 3px 2px 5px var(--BGCOLOR);
    text-shadow: 2px 2px 5px var(--BGCOLOR);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* POPUP MENU */