@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Phudu:wght@900&family=Roboto:wght@700&display=swap');

:root{
  --BGCOLOR: black;
  --COLOR: white;
  --SEARCHBTN-COLOR: gray;
  --RED: red;
  --GREEN: rgb(9, 51, 27);
  --WHITESMOKE: rgb(252, 250, 250);
  --FUGAZ: 'Fugaz One', cursive;
  --PHUDU: 'Phudu', cursive;
  --ROBOTO: 'Roboto', sans-serif;
  --BGHOMEPAGE: rgb(249, 253, 255);
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 55px;
    background-color: var(--COLOR);
    color: var(--SEARCHBTN-COLOR);
    border-top: 1px solid var(--BGCOLOR);
    z-index: 1;

    display: flex;
}

.footer .link{
    width: 20%;
    border-right: 1px solid var(--BGCOLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .link:active,
.footer .link:focus-within{
    border-top: 4px solid var(--GREEN);
}

.footer .font{
    color: var(--GREEN);
    min-height: 20px;
}
