.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 55px;
    background-color: var(--COLOR);
    color: var(--SEARCHBTN-COLOR);
    border-top: 1px solid var(--BGCOLOR);
    z-index: 1;

    display: flex;
}

.footer .link{
    width: 20%;
    border-right: 1px solid var(--BGCOLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .font{
    color: var(--GREEN);
    min-height: 23px;
}
