/* HEADER  */

.header{
    width: 100%;
    height: 50px;
    background-color: var(--WHITESMOKE);
    border-bottom: 1px solid;
    padding: 0.4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .header-name-portion{
    font-family: var(--FUGAZ);
    color: var(--ROYALBLUE);
}

.header .header-name-portion-2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .searchBtn{
    background-color: transparent;
    border: none;
    outline: none;
}

/* LOGIN BUTTON*/

.header .login .login_icon{
    font-size: 1.2rem;
}

.header .login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGIN BUTTON */

.header .head{
    color: var(--COLOR);
    display: grid;
    place-content: center;
    
}
  
.header__section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}
  
.header__section h1 {
    color: var(--BGCOLOR);
}
  
.header .menuBtn-open{
    display: block;
    height: 30px;
    width: 35px;
    background-color: transparent;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.header .menuBtn-close{
    display: block;
    height: 30px;
    width: 35px;
    background-color: transparent;
    transform: rotate(180deg);
    color: var(--RED);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.header .menuBtn-close .font-close{
    height: 30px;
    width: 30px;
}
  
.menu-icon,
.menu-icon::before,
.menu-icon::after{
    background-color: var(--BGCOLOR);
    height: 1px;
    width: 25px;
}
  
.menu-icon::before,
.menu-icon::after{
    content: '';
    position: absolute;
}
  
.menu-icon::before{
    transform: translate(-13px, -7px);
}
  
.menu-icon::after{
    transform: translate(-13px, 7px);
}
/* HEADER  */

/* HAMBURGER MENU */

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.5;
  background-color: black;
}

.menu-dropdown{
    display: flex;
    flex-direction: column;
    background-color: var(--COLOR);
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    position: absolute;
    top: 100%;
    width: 55%;
    left: 0;
    height: 100vh;
    z-index: 1;
    box-shadow: 0 2px 4px var(--BOX-SHADOW-COLOR);
}

.menu-dropdown > .menuBtn-close{
    display: flex;
    flex-direction: column;
    background-color: var(--COLOR);
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;

    position: absolute;
    top: 100%;
    width: 55%;
    left: 0;
    height: 100vh;
    z-index: 1;
    box-shadow: 0 2px 4px var(--BOX-SHADOW-COLOR);
}

.header .menu-dropdown .font{
    border: 1px solid;
    height: 13px;
    width: 13px;
    border-radius: 3px;
    background-color: var(--ROYALBLUE);
    color: var(--COLOR);
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.header .menu-dropdown .icon{
    display: flex;
    align-items: center;
}

.header .menu-dropdown .icon:active > .font,
.header .menu-dropdown .icon:focus-within > .font{
    background-color: var(--COLOR);
    color: var(--BGCOLOR)
}

.header .menu-dropdown .login{
    width: 96%;
    height: 35px;
    border-radius: 4px;
    background-color: var(--BUTTON-COLOR);
    color: var(--COLOR);
    box-shadow: 1px 4px 7px var(--BGCOLOR);
    text-shadow: 2px 2px 5px var(--BGCOLOR);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu-dropdown .login_icon{
    margin-left: 0.7rem;
    height: 21px;
}

.header .menu-dropdown .login:hover{
    opacity: 90%;
}

.header .header__section p{
    margin-bottom: 2rem;
    color: var(--BGCOLOR);
}

.header .header__section .span {
    color: var(--BUTTON-COLOR);
}

/* HAMBURGER MENU */
