@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Phudu:wght@900&family=Roboto:wght@700&display=swap');

:root{
  --BGCOLOR: black;
  --COLOR: white;
  --SEARCHBTN-COLOR: gray;
  --RED: red;
  --GREEN: rgb(9, 51, 27);
  --WHITESMOKE: rgb(252, 250, 250);
  --FUGAZ: 'Fugaz One', cursive;
  --PHUDU: 'Phudu', cursive;
  --ROBOTO: 'Roboto', sans-serif;
  --BGHOMEPAGE: rgb(249, 253, 255);
}

/* menu-popup{
    height: 40vh;
    background-color: red;
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column nowrap;
}. */