.search-Form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .search-Form .search-w{
    background-color: var(--COLOR);
    border-bottom: 1px solid var(--SEARCHBTN-COLOR);
    height: 59px;
    padding: 0.4rem 1em 0.4rem  1em;
    width: 100%;
    position: absolute;
    top: 15%;
  }
  
  .search {
    width: 97%;
    border: 2px solid var(--BGCOLOR);
    border-radius: 2em;
    overflow: hidden;
    font-size: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  
  .search:focus-within {
    box-shadow: 2px 2px 5px var(--BGCOLOR);
  }
  
  .search__button,
  .search__input {
    background-color: var(--COLOR);
    border: none;
    outline: none;
  }
  
  .search__input {
    padding: 1em;
    height: 40px;
    width: 85%;
  }

  .search .search__button .magnifyer{
    color: var(--WHITESMOKE);
  }
  
  .search .search__button {
    width: 15%;
    font-size: 1.5rem;
    padding-right: 0.5em;
    background-color: var(--BUTTON-COLOR);
    color: var(--SEARCHBTN-COLOR);
    display: grid;
    place-content: center;
  }