.ViewProduct{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 7rem;
}

.ViewProduct .image-container{
    border: 1px solid;
    min-height: 35vh;
    width: 98%;
    margin: 0.3rem auto;
}

.ViewProduct .product-name{
    border: 1px solid;
    width: 98%;
    min-height: 50px;
    margin: 1rem auto;
}

.ViewProduct .price{
    width: 30%;
    border: 1px solid;
    min-height: 34px;
    margin-left:4px;
}

.ViewProduct .information{
    width: 98%;
    margin: 1rem auto;
    min-height: 190px;
    border: 1px solid;
}

.ViewProduct .button-container{
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin: 0 auto;
}

.ViewProduct .button-container .add-to-cart{
    min-width: 48%;
    height: 40px;
    background-color: rgba(44, 148, 61, 0.363);
    font-size: large;
    cursor: pointer;
    color: rgb(44, 148, 61);
    outline: none;
    border: 2px solid rgb(44, 148, 61);
    font-weight: 700;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7rem;
}


.ViewProduct .button-container .order{
    min-width: 48%;
    height: 40px;
    background-color: rgb(44, 148, 61);
    font-size: large;
    cursor: pointer;
    outline: none;
    color: var(--WHITESMOKE);
    border: 1px solid rgb(44, 148, 61);
    font-weight: 600;
    border-radius: 4px;
}