@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Phudu:wght@900&family=Roboto:wght@700&display=swap');


:root{
  --BGCOLOR: black;
  --BOX-SHADOW-COLOR: rgba(0, 0, 0, 0.2);
  --BICYCLE-CONTAINER-BGCOLOR: rgba(0, 0, 0, 0.397);
  --SEARCHBTN-COLOR: gray;
  --BUTTON-COLOR: rgb(44, 148, 61);
  --RED: red;
  --GREEN: rgb(9, 51, 27);
  --POPUP-BGCOLOR: rgb(221, 221, 221);
  --COLOR: white;
  --WHITESMOKE: rgb(252, 250, 250);
  --ROYALBLUE: rgb(21, 54, 153);
  --BGCOLOR2: whitesmoke;


  
  --FUGAZ: 'Fugaz One', cursive;
  --PHUDU: 'Phudu', cursive;
  --ROBOTO: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  min-height: 100vh;
}

body{
  min-height: 100vh;
  font-family: var(--ROBOTO);
  display: flex;
  background-color: var(--COLOR);
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--COLOR);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.shopping, .About, .Accessories, .BicyclePage, .Card, .Contact, .footer, .header, .Missing, .search-Form, .Home, .PostProduct, .Profile, .Skateboard, .ViewProduct, .cart-items{
  width: 100vw;
}

.shopping, .About, .Accessories, .BicyclePage, .Card, .Contact, .Missing, .PostProduct, .Profile, .Skateboard, .ViewProduct, .cart-items{
  flex-grow: 1;
}



@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }

  .skateboard .container p{
    font-size: 4.2rem;
  }
}

.slider .slider-images{
  display: flex;
  overflow: auto;
}

.slider{
  position: relative;
}

.slider .slider-images{
  position: absolute;
}

.bycycleLink_1{
    width: 100%;
    height: 310px;
    background-image: url(../src/img/bicycle_0.jpg);
    background-size: 100% 100%;
}

.bycycleLink_2{
    width: 100%;
    height: 310px;
    background-image: url(../src/img/bicycle_1.jpg);
    background-size: 100% 100%;
}

.Home .accessories{
  background-image: url(../src/img/Accessories.jpg);
  width: 100%;
  height: 310px;
  background-size: 100% 100%;
}

.Home .skateboard{
    background-image: url(../src/img/skateboard.jpg);
    width: 100%;
    height: 310px;
    background-size: 100% 100%;
}
