:root{
  --BGCOLOR: black;
  --COLOR: white;
  --SEARCHBTN-COLOR: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  min-height: 100vh;
  font-family: sans-serif, cursive;
  display: flex;
  background-color:var(--COLOR);
}

#root{
  flex-grow: 1;
}

.header{
  width: 100%;
  height: 50px;
  background-color: var(--BGCOLOR);
  padding: 0.4rem;
}

.header__section{
  display: flex;
  justify-content: space-between;
}

.header__section h1 {
  color: var(--COLOR);
}

.menuBtn{
  height: 30px;
  width: 35px;
  background-color: inherit;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.menuBar,
.menuBar::before,
.menuBar::after{
  background-color: var(--COLOR);
  height: 1px;
  width: 25px;
}

.menuBar::before,
.menuBar::after{
  content: '';
  position: absolute;
}

.menuBar::before{
  transform: translate(-12px, -7px);
}

.menuBar::after{
  transform: translate(-12px, 7px);
}

.search-Form{
  background-color: var(--BGCOLOR);
  padding: 0 1em 1em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search {
  width: 97%;
  border: 2px solid var(--BGCOLOR);
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.search:focus-within {
  box-shadow: 2px 2px 5px var(--BGCOLOR);
}

.search__button,
.search__input {
  background-color: var(--COLOR);
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  width: 85%;
}

.search__button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: var(--SEARCHBTN-COLOR);
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }
}