@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Phudu:wght@900&family=Roboto:wght@700&display=swap');


:root{
  --BGCOLOR: black;
  --COLOR: white;
  --SEARCHBTN-COLOR: gray;
  --RED: red;
  --GOLD: gold;
  --WHITESMOKE: rgb(252, 250, 250);
  --FUGAZ: 'Fugaz One', cursive;
  --PHUDU: 'Phudu', cursive;
  --ROBOTO: 'Roboto', sans-serif;
  --BGHOMEPAGE: rgb(249, 253, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  min-height: 100vh;
  font-family: var(--ROBOTO);
  display: flex;
  background-color:var(--BGHOMEPAGE);
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.shopping, .About, .Accessories, .BicyclePage, .Card, .Contact, .footer, .header, .Missing, .search-Form, .Home, .PostProduct, .Profile, .Skateboard, .ViewProduct{
  width: 100vw;
}

.shopping, .About, .Accessories, .BicyclePage, .Card, .Contact, .Missing, .PostProduct, .Profile, .Skateboard, .ViewProduct{
  flex-grow: 1;
}

.search-Form{
  background-color: var(--BGCOLOR);
  border-top: 1px solid #333;
  padding: 0.4rem 1em 0.4rem  1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search {
  width: 97%;
  border: 2px solid var(--BGCOLOR);
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.search:focus-within {
  box-shadow: 2px 2px 5px var(--BGCOLOR);
}

.search__button,
.search__input {
  background-color: var(--COLOR);
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  height: 40px;
  width: 85%;
}

.search__button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: var(--SEARCHBTN-COLOR);
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }

  .skateboard .container p{
    font-size: 4.2rem;
  }
}

.slider .slider-images{
  display: flex;
  overflow: auto;
}

.slider{
  position: relative;
}

.slider .slider-images{
  position: absolute;
}

.Home{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}


.bycycleLink_1{
  width: 100%;
  height: 310px;
  background-image: url(../src/img/bicycle_0.jpg);
  background-size: 100% 100%;
  
}

.bycycleLink_1 .container{
  background-color: rgba(0, 0, 0, 0.397);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bycycleLink_1 h2{
  color: var(--WHITESMOKE);
  text-shadow: 2px 2px 5px var(--BGCOLOR);
  font-size: max(1.70rem, 2vh);
}

.bycycleLink_1 .hero_1{
  font-family: var(--FUGAZ);
  font-size: max(1.75rem, 4vh);
}

.bycycleLink_1 .hero_2{
  font-family: cursive, sans-serif;
}

.Home .prycycle{
  background-color: var(--BGCOLOR);
  color: var(--SEARCHBTN-COLOR);
  font-family: var(--ROBOTO);
  text-align: center;
  margin: 0.7rem auto;
  padding: 0.7rem 0;
}

.prycycle .container{
  width: 90%;
}

.Home .prycycle p{
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--HEADER-BG);
}


.bycycleLink_2{
  width: 100%;
  height: 310px;
  background-image: url(../src/img/bicycle_1.jpg);
  background-size: 100% 100%;
}

.bycycleLink_2 .container{
  background-color: rgba(0, 0, 0, 0.397);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
  color: var(--WHITESMOKE);
  text-shadow: 2px 2px 5px var(--BGCOLOR);
}

.bycycleLink_2 .hero_1{
  font-family: var(--PHUDU);
  padding-bottom: 0.2rem;
}

.bycycleLink_2 button,
.bycycleLink_2 .hero_2{
  font-family: var(--ROBOTO);
}

.bycycleLink_2 .hero_2{
  padding-bottom: 0.4rem;
}

.bycycleLink_2 button{
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 110px;
  height: 37px;
  border: none;
  outline: none;
  cursor: pointer;
}

.bycycleLink .skateboard{
  background-image: url(../src/img/skateboard.jpg);
  width: 100%;
  height: 310px;
  background-size: 100% 100%;
}

.skateboard .container{
  background-color: rgba(0, 0, 0, 0.397);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--WHITESMOKE);
}

a{
  text-decoration: none;
  color: inherit;
}

.skateboard .container p{
  background-color: darkred;
  padding: 0 1rem;
  text-shadow: 3px 4px 5px var(--BGCOLOR);
  transform: rotate(-10deg);
}

footer p{
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: var(--BGCOLOR);
  color: var(--SEARCHBTN-COLOR);
  text-align: center;
  padding: 0.7rem;
}